.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 8vh;
  width: 100%;
  margin-bottom: 3em;
}


.main {
  margin-top: 3em;
  height: 78vh;
  width: 70vw;
  padding: 1.5em;
  text-align: center;
  overflow-y: scroll;
}

.bottomBar {
  position: absolute;
  margin-top: 10pt;
  bottom: 2.5em;
  left: calc(50vw - 11.25em);
  text-align: center;
  height: 5vh;
}

.App {
  text-align: center;
}

.button-link {
  padding: 0;
  padding-top: 0.2em;
  height: 2em;
  width: 7.5em;
}

.button-link:hover a {
  text-decoration: none;
  color: white;
}