.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 3em;
  width: 100%;
  margin-bottom: 3em;
}

.main {
  margin-top: 3em;
}

.bottomBar {
  position: absolute;
  bottom: 3em;
  left: calc(50% - 9em);
  text-align: center;
}

.App {
  text-align: center;
}

.button-link:hover a {
  text-decoration: none;
  color: white;
}